.modulados{
  padding: 40px 0;

  @include sm{
    padding: 60px 0;
  }

  .title{
    text-align: center;

    h1{
      @include font-title;
    }
  }

  .wrap{
    padding-top: 60px;
    text-align: center;

    h4{
      @include font-subtitle;
    }

    .tx{
      text-align: left;

      h5{
        @include font-list;
        color: $color-base;
        margin-top: 25px;
      }
    }

    .bts{
      text-align: center;
      margin-top: 60px;

      a{
        color: $color-main;
        padding: 12px 15px;
        border: 2px solid;
        border-color: $color-main;
        @include font-paragraph;
        font-weight: 700;

        @include sm{
          padding: 12px 25px;
        }

        &:first-child{
          margin-right: 15px;

          @include sm{
            margin-right: 35px;
          }
        }
      }
    }
  }
}

.mod-img{
  margin: 40px 0;
  position: relative;

  @include sm{
    margin: 60px 0;
  }

  .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity 200ms linear;

    @include sm{
      background-color: rgba(0, 0, 0, .9);
    }
  }
}
